<div class="content-title">
    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> 邮箱激活
</div>
<div class="container">
    <div ng-show="activateUser != null">
        <h3><p><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> 激活成功: {{activateUser.email}}</p></h3>
        <a class="btn btn-default" href="login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> 点此登陆</a>
    </div>
    <div ng-show="activateUser == null"><h3><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> 激活失败，用户已激活或激活码无效</h3></div>
</div>