<div class="content-title">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 用户注册
</div>
<form name="registerForm" class="form-horizontal" role="form" novalidate="novalidate">

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-4">
            <input id="email" type="email" class="form-control" ng-model="user.email" placeholder="请输入邮箱" required=""/>
        </div>
        <div class="col-sm-6">
            <span class="control-desc">用于登录及找回密码</span>
        </div>
    </div>
    <div class="form-group">
        <label for="nickname" class="col-sm-2 control-label">昵称</label>
        <div class="col-sm-4">
            <input id="nickname" type="text" class="form-control" ng-model="user.nickname" placeholder="请输入昵称" required="" ng-minlength="2" ng-maxlength="10" ng-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9]+$/"/>
        </div>
        <div class="col-sm-6">
            <span class="control-desc">仅能包含字母数字汉字，长度2到10位</span>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-4">
            <input id="password" type="password" class="form-control" ng-model="user.password" placeholder="请输入密码" required="" ng-minlength="6" ng-maxlength="16" ng-pattern="/^.*(?=.*\d)(?=.*[a-zA-Z]).*$/"/>
        </div>
        <div class="col-sm-6">
            <span class="control-desc">需同时包含字母和数字，长度6到16位</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" ng-click="register(user)" ng-disabled="!registerForm.$valid"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 注册</button>
            <button class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 取消</button>
        </div>
    </div>
</form>