#----------------------------------------------------------------------
# SYSTEM & SECURITY CONFIGURATION
#----------------------------------------------------------------------

server:
  port: 8080

spring:
  profiles:
    active: production
  datasource:
    url: jdbc:mysql://rdsx5z67702g71h62p2k.mysql.rds.aliyuncs.com
    username: bcg
    password: BCG8_7
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
  messages:
    basename: i18n/message
  thymeleaf:
    cache: true
  mail:
    host: smtp.exmail.qq.com
    port: 465
    username: service@bianchunguang.com
    password: bcg2BCG
    properties :
      mail.smtp.ssl.enable: true

logging:
  path: /blog.log
  level.org.springframework: info


#----------------------------------------------------------------------
# UI CONFIGURATION
#----------------------------------------------------------------------

ui:
  local: zh_CN
  theme: horizontal