#----------------------------------------------------------------------
# SYSTEM & SECURITY CONFIGURATION
#----------------------------------------------------------------------

server:
  port: 8080

spring:
  profiles:
#    active: develop
    active: production
  datasource:
    url: jdbc:mysql://localhost/blog
    username: blog
    password: blog
    driver-class-name: com.mysql.jdbc.Driver
    testOnBorrow: true
    validationQuery: SELECT 1
  jpa:
    hibernate:
      ddl-auto: update
  messages:
    basename: i18n/message
  thymeleaf:
    cache: true
  mail:
    host: smtp.exmail.qq.com
    port: 465
    username: service@bianchunguang.com
    password: bcg2BCG
    properties :
      mail.smtp.ssl.enable: true

logging:
  path: /blog.log
  level.org.springframework: info


#----------------------------------------------------------------------
# UI CONFIGURATION
#----------------------------------------------------------------------

ui:
  local: zh_CN
  theme: horizontal