.blog {
    margin-bottom: 40px;
}

.blog .blog--head {
    margin: 10px 0px;
}
.blog .blog--head .blog--head-title {
    color: #099;
}

.blog .blog--head-meta {
    color: #ccc;
}

.blog .blog--head-meta .blog--head-meta-item {
    color: #aaa;
    margin-right: 5px;
}

.blog .blog-content {
    color: #333;
    width: 100%;
    word-break:break-all;
}

.blog .blog-content img {
    height: 100%;
    width: 100%;
}