.blog {
    margin-bottom: 20px;
    padding: 2%;
    background: #f5f5f5;
}

.blog .blog--head {
    margin: 10px 0px;
}

.blog .blog--head-meta .blog--head-meta-item {
    color: #aaa;
    margin-right: 5px;
}

.commentWrapper {
    border-top: 3px solid #eee;
}

.commentWrapper .title {
    border-top: 3px solid #fa0;
    font-size: 23px;
    padding: 10px;
    position: relative;
    top: -3px;
    display: inline-block;
}

.comment {
    position: relative;
    padding: 15px 0px;
    border-top: 1px dashed #eee;
}

.comment .comment {
    margin: 5px 0px;
    border-top: none;
    box-shadow: 0px 1px 3px #ddd;
    padding: 5px 10px;
    background-color: #fefef9;
}

.comment .comment .tools, #blogListContainer .tools {
    display: none !important;
}

.tools {
    z-index: 2;
    float: right;
}

.tools .tools-item {
    opacity: 0;
}

.tools.active .tools-item {
    opacity: 1;
}

.tools .tools-item {
    margin-left: 0px;
}

.comment-meta {
    color: #aaa;
}