html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    margin-bottom: 207px;
    word-break: break-all;
}

*:not(#mainWrapper) {
    transition: all 0.2s ease-in;
}

a {
    color: #f82;
}

a:focus, a:hover {
    color: #f82;
}

[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
    display:none !important;
}

#message {
    width: 300px;
    position: fixed;
    top: 65px;
    right: -300px;
    border: 0px;
    border-radius: 0px;
    z-index: 998;
    box-shadow: 0px 0px 15px #aaa;
}

#message.alert-success {
    background: #5a0;
    color: #fff;
}

#message.alert-danger {
    background: #f80;
    color: #fff;
}

.navbar-headbar {
    border-radius: 0px;
    border: 0px;
    border-top: 3px solid #0cc;
}

.navbar-headbar .navbar-brand {
    color: #0cc;
}

.dropdown-menu {
    border-radius : 0px;
    border: none;
    box-shadow: 0px 2px 15px #555;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0cc;
    outline: 0;
}

.sidebar {
    background: #222;
    color: #aaa;
    text-align: center;
    margin-bottom: 15px;
}

.sidebar-title {
    padding: 20px;
    background: #099;
    color: #fff;
}

.sidebar .sidebar-profile-avatar {
    width: 100%;
    margin-bottom: 10px;
}

.sidebar .sidebar-profile-desc {
    padding: 20px;
}

.sidebar .sidebar-menu-item {
    color: #aaa;
    display: block;
    padding: 20px;
    cursor: pointer;
}

.sidebar .sidebar-menu-item:hover, .sidebar .sidebar-menu-item.active {
    background: #000;
    color: #0cc;
    text-decoration: none;
}

#main .content-title {
    padding: 20px;
    font-size: 30px;
    background-color: #eee;
    color: #0cc;
    margin-bottom: 25px;
}

.btn-default {
    color: #fff !important;
    background-color: #0cc !important;
    border: 0px;
    border-radius: 0px;
    box-shadow: 0px 2px 2px #999;
    outline: 0px !important;
    text-shadow: 0px 1px 2px #555;
}

.btn-text {
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 0px 7px;
}

.btn-default:hover, .btn-default:active {
    background-color: #099 !important;
}

.btn-default[disabled] {
    background-color: #ccc !important;
    box-shadow: 0px 2px 2px #999;
}

.panel {
    border-radius: 0px;
}

form[name="loginForm"], form[name="registerForm"] {
    max-width: 800px;
    margin: 20px;
}

.form-control {
    border-radius: 0px;
}

.form-control:hover, .form-control:focus, .form-control:active {
    border-color: #0cc;
    box-shadow: 0px 0px 5px #cee;
}

.form-control.ng-dirty.ng-invalid {
    border-color: #f50;
    box-shadow: 0px 0px 5px #fcc;
}

.control-desc {
    line-height: 34px;
}

.footer {
    color: #ccc;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #222;
    overflow: auto;
    padding: 10px 0px;
}

.footer-menu {
    margin: 20px 0px;
}

.footer-menu-title {
    color: #0cc;
    padding-bottom: 5px;
}

.footer-menu-body {
    border-left: 2px solid #0cc;
    padding: 0px 8px;
}

.footer-menu-item a {
    vertical-align: top;
}

::selection {
    background: #f82;
    color: #fff;
}

::-moz-selection {
    background: #f82;
    color: #fff;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(200, 200, 200, 1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 189, 189, 0.9);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 189, 189, 0.3);
}