<div class="comment" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="hover || (selected = !selected)">
    <div ng-class="{active: hover || selected}" class="tools pull-right">
        <a class="tools-item btn btn-default" href="#" ng-click="reply({comment : comment})"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> 回复</a>
        <a class="tools-item btn btn-default" href="#" ng-click="delete({comment : comment})"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除</a>
    </div>
    <div class="comment-meta">
        <span class="comment-meta-item"><a href="{{comment.author.username}}">{{comment.author.nickname}}</a> @ {{comment.createdDate | date: 'yyyy-MM-dd HH:mm:ss' }} </span>
    </div>
    <div class="comment-content">
        {{comment.content}}
    </div>
</div>