<div class="blog">
    <div class="blog--head">
        <div class="blog--head-title">
            <h2><a href="blogs/{{blog.id}}">{{blog.title}}</a></h2>
            <div class="blog--head-meta">
                <span class="blog--head-meta-item"><a href="{{blog.author.username}}">{{blog.author.nickname}}</a> @ {{blog.createdDate | date: 'yyyy-MM-dd HH:mm:ss' }} </span>/
                <span class="blog--head-meta-item">144 评论</span> /
                <span class="blog--head-meta-item">12 观看</span> /
                <span class="blog--head-meta-item">2 收藏</span>
            </div>
        </div>
    </div>
    <div class="blog-content" markdown-to-html="blog.content | stripHtml"/>
</div>